<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aquo - Paramètres</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body class="pt-4">
  <div class="container-fluid">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">A quo</h5>
      <h6 class="card-subtitle mb-2 text-muted">recherche citations</h6>

      <form action="http://localhost:5000/submit" method="post">

        <div class="mb-3">
          <label for="pet-select">Source (cité):</label>
          <select class="form-control" name="source">
            {% for file in files %}
              {% if file == "bourgery.txt" %}
                <option selected value="{{file}}">{{file}}</option>
              {% else %}
                <option value="{{file}}">{{file}}</option>
              {% endif %}
            {%endfor%}
          </select>
        </div>

        <div class="mb-3">
          <label for="pet-select">Cible (citateur):</label>
          <select class="form-control"  name="cible">
            {% for file in files %}
            <option value="{{file}}">{{file}}</option>
            {%endfor%}
          </select>
        </div>

        <div class="mb-3">
          <label>MaxLev (distance maximale d'édition)</label> :
          <input class="form-control"  type="number" name="maxLev" value="25" min="0" max="66"/>
          <label>MinRatio (% minimal de correspondance)</label> :
          <input class="form-control"  type="number" name="minRatio" value="51" min="33" max="100"/>
          <label>Empan minimum</label> :
          <input class="form-control"  type="number" name="empan" value="3" min="1" max="10"/>
        </div>

        <div class="mb-3">
          <fieldset>
            Recalculer :
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="reset" value="true">
              <label class="form-check-label">
                Oui
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="reset" value="false" checked>
              <label class="form-check-label">
                Non
              </label>
            </div>
          </fieldset>
        </div>

        <input class="btn btn-secondary" type="submit" value="Envoyer" />
      </form>

    </div>


  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>

</html>
