<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aquo - Résultats</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='tablesorter/theme.bootstrap.css') }}" rel="stylesheet">
</head>

<body class="pt-4">
  <div class="container-fluid">

    <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <a class="btn btn-secondary btn-sm" href="{{ url_for('form')}}"> < </a>
        <mark>{{ options["source"] }}</mark> vs. <mark>{{ options["cible"] }}</mark>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">max lev = {{ options["maxLev"] }} / minRatio = {{ options["minRatio"] }}</h6>
        <table class="table table-hover ">
          <thead>
            <tr>
              <th scope="col">id</th>
              <!-- <th scope="col">cible</th>
              <th scope="col">empan</th> -->
              <th scope="col">contexte</th>
              <th scope="col">source</th>
              <th scope="col">ratio</th>
              <th scope="col">score</th>
              <th scope="col">score pondéré</th>
              <!-- <th scope="col">boundaries</th> -->
              <th scope="col">exactmatch</th>
              <th scope="col">bonusQuote</th>
              <th scope="col">bonusEntity</th>
            </tr>
          </thead>
          <tbody>

          {% for keyHit, valueHit in hitsForPrint.items() %}
            <tr>
              <td> {{ keyHit }} </td>
              <!-- <td> {{ valueHit.get("cible") }} </td>
              <td> {{ valueHit.get("empan") }} </td> -->
              <td> {{ valueHit.get("contexte") }} </td>
              <td> {{ valueHit.get("source") | safe }} </td>
              <td> {{ valueHit.get("ratio") }} </td>
              <td> {{ valueHit.get("score") }} </td>
              <td> {{ (valueHit.get("ratio") * valueHit.get("score") / 100)|round|int }} </td>
              <!-- <td> {{ valueHit.get("idstart") }}  - {{ valueHit.get("idend") }} </td> -->
              <td> {{ valueHit.get("exactMatch") }} </td>
              <td> {{ valueHit.get("bonusQuote") }} </td>
              <td> {{ valueHit.get("bonusEntity") }} </td>
           </tr>
          {% endfor %}

          </tbody>
        <table>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='tablesorter/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='tablesorter/jquery.tablesorter.js') }}"></script>
	<script src="{{ url_for('static', filename='tablesorter/jquery.tablesorter.widgets.js') }}"></script>
  <script src="{{ url_for('static', filename='tablesorter/script.js') }}"></script>
</body>

</html>
